html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

text {
	font: 10px sans-serif;
	text-anchor: middle;
}
