 /* Required for full background image */

 html, body, header, .view {
     height: 100%;
 }

 @media (max-width: 740px) {
     html, body, header, .view {
         height: 100vh;
     }
 }

 .top-nav-collapse {
     background-color: #000000 !important;
 }

 .navbar:not(.top-nav-collapse) {
     background: transparent !important;
 }

 @media (max-width: 991px) {
     .navbar:not(.top-nav-collapse) {
         background: #000000 !important;
     }
 }

 h1 {
     letter-spacing: 8px;
 }

 h5 {
     letter-spacing: 3px;
 }

 .hr-light {
     border-top: 3px solid #fff;
     width: 80px;
 }

 .highlight {
     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #000000 65%);
 }

 .pt-5 {
     padding-top: 80px !important;
 }