 /* Required for full background image */

 html, body, header, .view {
     height: 100%;
     background-attachment: fixed !important;
 }

 @media (max-width: 740px) {
     html, body, header, .view {
         height: 100vh;
     }
 }

 .top-nav-collapse {
     background-color: #000000 !important;
 }

 .navbar:not(.top-nav-collapse) {
     background: transparent !important;
 }

 @media (max-width: 991px) {
     .navbar:not(.top-nav-collapse) {
         background: #000000 !important;
     }
 }

 h1 {
     letter-spacing: 8px;
 }

 h5 {
     letter-spacing: 3px;
 }

 .hr-light {
     border-top: 3px solid #fff;
     width: 80px;
 }

 .highlight {
     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #000000 65%);
 }

 .pt-5 {
     padding-top: 80px !important;
 }

 #autocomplete.ui-autocomplete-loading {
     background-image: url('../img/loading.gif');
     background-position: right center;
     background-repeat: no-repeat;
 }

 body .ui-autocomplete {
     /* font-family to all */
     font-family: "Roboto", sans-serif !important;
     /* left: 632.5px !important;
     width: 400px !important; */
 }

 input {
     font-family: "Roboto", sans-serif !important;
     color: white !important;
 }

 .form-control .ui-autocomplete-input {
     /* font-family to all */
     font-family: "Roboto", sans-serif !important;
     color: white !important;
 }

 body .ui-autocomplete .ui-menu-item .ui-corner-all {
     font-family: "Roboto", sans-serif !important;
 }

 .ui-menu-item-wrapper:hover {
     color: white !important;
     background-image: none !important;
     background-color: black !important;
     border: #fff 1px solid !important;
 }

 .jumbotron {
     background: #000000 !important;
     border-bottom: 1px solid #2b2828 !important;
     background-color: #0e0e0e !important;
     background-repeat: repeat-x !important;
     background-image: -moz-linear-gradient(-40deg, #1b1b1b, #0a0a0a) !important;
     background-image: -webkit-linear-gradient(-40deg, #1b1b1b, #0a0a0a) !important;
     background-image: -o-linear-gradient(-40deg, #1b1b1b, #0a0a0a) !important;
     background-image: linear-gradient(-40deg, #1b1b1b, #0a0a0a) !important;
     text-shadow: 1px 1px 1px rgb(94, 94, 94) !important;
 }

 .jumbotron, .jumbotron h1 {
     color: #fff !important;
 }

 .jumbotron h1 {
     font-size: 80px !important;
     letter-spacing: -2px !important;
     line-height: 1
 }

 .jumbotron p {
     margin-top: 15px !important;
     margin-bottom: 15px !important;
     font-size: 30px !important;
     line-height: 1.3 !important;
     font-weight: lighter
 }

 @media (max-width: 750px) {
     #wordcloud {
         height: 200px;
     }
 }